<div class="table-container">
  <div class="offset-md-9 col-md-3 input-group flex-nowrap search-container">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-search"></i> </span>
    </div>
      <input type="text"
             class="form-control"
             placeholder="Search"
             aria-describedby="addon-wrapping"
             (keyup)="onInputChange($event)">
  </div>

  <table class="table">
    <thead>
      <tr>
        <ng-container *ngFor="let header of headers">
          <th scope="col scrollable">
            <a class="sortByLink" (click)="sortColumn(header)"> {{ header }}
              <i class="fa fa-arrow-up"
                 [class.hidden]="!showColumn(header, 'asc')"></i>

              <i class="fa fa-arrow-down"
                 [class.hidden]="!showColumn(header, 'desc')" ></i>
            </a>
          </th>
        </ng-container>
        <th class="">
          <a class="btn btn-large btn-link"
             [routerLink]="addApiUrl"> <i class="fa fa-plus"></i> </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of datas">
        <tr>
          <ng-container *ngFor="let config of configs">
            <td *ngIf="!!config.label"> {{ data[config.key].length > 15 ? (data[config.key] | slice:0:15) + '...' : data[config.key] }} </td>
          </ng-container>
          <td>
            <button [routerLink]="updateApiUrl +'/'+ data.id" class="btn btn-large btn-primary"> <i class="fa fa-pencil"></i> </button>
            <button (click)="confirmDelete(data.id, data.name)" class="btn btn-large btn-danger"> <i class="fa fa-trash"></i> </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
