<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark flex-column-xs">
  <div class="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="'/customer'" routerLinkActive="active" class="nav-link"> Customer </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/product'" routerLinkActive="active" class="nav-link"> Product </a>
      </li>
    </ul>
  </div>
</nav>
