<div *ngIf="messageSuccess" class="container alert alert-success">
  {{ messageSuccess }}
</div>

<div *ngIf="messageDanger" class="container alert alert-danger">
  {{ messageDanger }}
</div>

<ng-container *ngIf="valuesDownloaded">
  <app-form [model_id]="configFormModel.model_id"
            [configs]="configFormModel.configs"
            [form]="form"
            (submitForm)="submitForm($event)"></app-form>
</ng-container>
