<div class="container">
  <h1> Products </h1>
  <div class="row">
    <div class="col-md-12">
      <app-table [datas]="data"
                 [addApiUrl]="'/product/add'"
                 [updateApiUrl]="'/product/'"
                 [headers]="configTableModel.header"
                 [configs]="configTableModel.configs"
                 [sortBy]="configTableModel.sortBy"
                 (searchKey)="searchKey($event)"
                 (scrollByColumn)="scrollByColumn($event)"
                 (deleteById)="deleteById($event)"></app-table>
    </div>
  </div>
</div>
