<div class="container">
  <form id="model_id"
        [formGroup]="form"
        (ngSubmit)="onClickSubmit()">
    <div *ngFor="let config of configs" class="form-group col-xs-12">
      <ng-container [ngSwitch]="config.controlType">

        <label *ngIf="config.controlType !== 'checkbox'"
              for="{ config.control }"> {{ config.label }} </label>

        <ng-container *ngSwitchCase="'hidden'">
          <input type="hidden" class="form-control"
                 [formControlName]="config.control">
        </ng-container>

        <ng-container *ngSwitchCase="'text'">
          <input type="text" class="form-control"
                [formControlName]="config.control"
                [placeholder]="config.placeholder">
        </ng-container>

        <ng-container *ngSwitchCase="'textarea'">
          <textarea type="text" class="form-control"
                    [formControlName]="config.control"
                    [placeholder]="config.placeholder"></textarea>
        </ng-container>

        <ng-container *ngSwitchCase="'date'">
          <input type="date" class="form-control"
                [formControlName]="config.control">
        </ng-container>

        <ng-container *ngSwitchCase="'checkbox'">
          <div class="form-check checkbox">
            <input type="checkbox" class="form-check-input" [formControlName]="config.control">
            <label for="{config.control}"> {{ config.label }} </label>
          </div>
        </ng-container>


        <div *ngIf="form.controls[config.control].invalid && (form.controls[config.control].touched)" class="alert alert-danger">
          <div *ngIf="form.controls[config.control].errors.required">
            This field is required
          </div>
        </div>

      </ng-container>
    </div>

    <div class="col-sm-12 offset-md-8 col-md-4">
      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="form.invalid"> Submit </button>
    </div>
  </form>

</div>
